//CURSOR
.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
	opacity: 0;
	z-index:99999 !important;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
				transform 0.3s ease-in-out;	
}

.cursor-dot {
    $size: 10px;
    width: $size;
    height: $size;
    background-color: $blue;
}

.cursor-dot-outline {
    $size: 40px;
    width: $size;
    height: $size;
    background-color: rgba($blue, 0.5);
}