//LOGO PROTON
.logo {
    position:fixed;
    top:60px;
    left:$margin;
    transition:.5s;    
    h1 {
        color:white;
        font-size:1.6em;
        font-weight:bold;
        margin:0;
        a {
            width:19px;
            height:19px;
            border-radius:50%;
            display:inline-block;
            margin:-1px 1px;
            padding:0;
            background:$blue;
        }
    }
    
}