@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  color: #111111;
  font-weight: 700;
}

body {
  color: #111111;
  font-family: "Montserrat", sans-serif;
  font-size: .9em;
}

a {
  color: #111;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  color: #0052cc;
}

.container {
  display: block;
  max-width: 100%;
  margin: 50px 160px;
  margin: auto;
}

main {
  padding: 40px;
}

.whiter .logo, .whiter .social, .whiter .hamburguer, .whiter .whatsapp, .whiter .language {
  -webkit-transition: .5s;
  transition: .5s;
  color: white;
}

.whiter .logo a, .whiter .social a, .whiter .hamburguer a, .whiter .whatsapp a, .whiter .language a {
  color: white;
}

.whiter .hamburguer .bar1 {
  background-color: white;
}

.whiter .hamburguer .bar2 {
  background-color: white;
}

header {
  width: calc(100% - 80px);
  height: calc(100% - 100px);
  margin: 40px;
  position: relative;
}

header .logo, header .social, header .hamburguer, header .whatsapp, header .language {
  position: fixed;
  font-weight: 700;
  z-index: 9999;
}

header .language {
  bottom: 60px;
}

header .container {
  padding-top: 15%;
}

header .container h1 {
  font-size: 40px;
}

header .container span {
  display: block;
}

header .social {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  left: -70px;
  top: 50%;
  display: block;
  color: #ccc;
}

header .whatsapp {
  outline: none;
  right: 40px;
  bottom: 60px;
}

header .whatsapp img {
  width: 32px;
  height: 32px;
}

header .scroll {
  position: absolute;
  bottom: 0px;
  right: 50%;
  font-size: 40px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .scroll:hover {
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  cursor: pointer;
}

.hamburguer {
  outline: none;
  right: 40px;
  border: 0;
}

.hamburguer:hover {
  cursor: pointer;
}

.hamburguer .bar1, .hamburguer .bar2 {
  width: 44px;
  height: 2px;
  background-color: #111;
  margin: 5px 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.toggle .bar1 {
  transform: translate(5px, 0);
  -webkit-transform: translate(5px, 0);
  background: #111111;
}

.toggle .bar2 {
  transform: translate(15px, 0);
  -webkit-transform: translate(15px, 0);
  background: #111111;
}

nav {
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}

nav .content {
  width: 60%;
  margin: 0 auto;
  padding-top: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .content__close {
  position: absolute;
  top: 100px;
  right: 45px;
  font-size: 40px;
  line-height: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-align: center;
}

nav .content__close span {
  font-size: 12px;
}

nav .content__menu, nav .content__text {
  width: 50%;
}

nav .content__menu h1, nav .content__text h1 {
  color: white;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
}

nav .content__text {
  color: white;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
}

nav .content__text a {
  color: white;
}

nav ul {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  list-style: none;
}

nav ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

nav ul li a:hover {
  padding-left: 15px;
  cursor: pointer;
  color: white;
}

.open {
  position: fixed;
  margin-top: -100px;
  width: 100%;
  height: 110%;
  visibility: visible;
  opacity: 1;
  background: #0052cc;
  display: block;
  z-index: 990;
}

.image {
  background: rgba(0, 0, 0, 0.15);
  min-height: 500px;
  position: relative;
  z-index: 3;
}

.image::before {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background: rgba(51, 51, 51, 0.25);
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  height: 40px;
  left: calc(50% - 20px);
  position: absolute;
  top: calc(50% - 20px);
  width: 40px;
  z-index: 1;
}

.image img {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  z-index: 3;
  position: absolute;
}

.image img.fade-in {
  padding-bottom: 0;
  opacity: 1;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70%,
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  70%,
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 100px;
}

.works__box {
  width: 50%;
  height: 500px;
  background: #F4F5F7;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.works__box:nth-child(even) {
  background: #F4F5F7;
  margin-top: -50px;
}

.works__box:nth-child(odd) {
  background: #F4F5F7;
}

.works__box__content, .works__box__items {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #111111;
  -webkit-transition: .5s;
  transition: .5s;
}

.works__box__items {
  padding: 40px;
  z-index: 98;
}

.works__box__items span, .works__box__items b, .works__box__items a, .works__box__items p {
  position: absolute;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
}

.works__box__items span, .works__box__items b {
  font-size: 12px;
  top: 40px;
}

.works__box__items b {
  right: 40px;
}

.works__box__items a {
  bottom: 40px;
  right: 80px;
  font-size: 40px;
  opacity: 0;
  color: yellow;
  -webkit-transition: .5s;
  transition: .5s;
}

.works__box__items p {
  bottom: 40px;
  font-size: 18px;
  line-height: 0;
  font-weight: bold;
}

.works__box__items p:before {
  content: '';
  display: block;
  width: 30%;
  height: 2px;
  background: #0052cc;
  margin-bottom: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

.works__box:hover {
  opacity: 1;
  background: #0052cc;
  z-index: 980;
}

.works__box:hover .image:before {
  display: none;
}

.works__box:hover span, .works__box:hover b, .works__box:hover a, .works__box:hover p {
  color: white;
}

.works__box:hover a {
  opacity: 1;
  right: 40px;
  color: yellow;
}

.works__box:hover p:before {
  background: yellow;
  margin-left: -50px;
}

.works__box:hover img {
  display: none;
}

.var-highlight {
  color: #0052cc;
  font-weight: bold;
}

.string-highlight {
  color: #111;
}

#typewriter {
  font-size: 1em;
  line-height: 25px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 55%;
}

#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
          animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */