@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$blue: #0052cc;
$gold: #FFC107;
$light: #F4F5F7;
$gray: #686868;
$black: #111111;

$textfont: 'Montserrat', sans-serif;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.teste{
  color:white;
}

html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;   
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
  color:$black;
  font-weight:700;
}

body {
  // background-image:url('../img/bg-topography.png');
  color:$black;
  font-family: $textfont;
  font-size:.9em;
}

@mixin transition {
  transition:.5s;
}

a {
  color:#111;
  text-decoration:none; 
  @include transition;
  &:hover {
    color:$blue;
  }
} 

//CONTAINER
.container {
  display:block;
  max-width:100%;
  margin: 50px 160px;
  margin:auto;
}

//MAIN 
main {
  padding:40px;
}

//HEADER IN MENU OPENED
.whiter {
  .logo, .social, .hamburguer, .whatsapp, .language {
    @include transition;
    color:white;
    a {
      color:white;
    }
  }
  .hamburguer .bar1 {background-color: white;}
  .hamburguer .bar2 {background-color: white;}
}

//HOME HEADER
header {
  width:calc(100% - 80px);
  height:calc(100% - 100px);
  margin:40px;  
  position:relative; 

  .logo, .social, .hamburguer, .whatsapp, .language {
    position:fixed;
    font-weight:700;
    z-index:9999;
  }

  .language {
    bottom:60px;        
  } 

  .container {       
    padding-top:15%;
    h1 {
      font-size:40px;     
    } 
    h2 {
      font-size:30px;
    }   
    span {
      display:block;
    }    
  }

  .social {     
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);    
    left:-70px;
    top:50%;
    display:block; 
    color:#ccc;   
  }
  
  .whatsapp {
    outline:none;
    right:40px;
    bottom:60px;
    img {
      width:32px;
      height:32px;
    }
  }

  .scroll {
    position:absolute;
    bottom:0px;
    right:50%;
    font-size:40px;
    @include transition;
    &:hover {
      transform: translate(0, 20px);
      cursor:pointer;
    }
  }
}

//HAMBURGUER MENU
.hamburguer {
  outline:none;
  right:40px;
  border:0;          
  &:hover {
    cursor:pointer;
  }

  .bar1, .bar2 {
    width: 44px;
    height: 2px;
    background-color: #111;
    margin: 5px 0;
    transition-duration: 0.4s;
  }  
}
.toggle .bar1 {
  transform: translate(5px, 0);
  -webkit-transform: translate(5px, 0);    
  background:$black;
}
.toggle .bar2 {
  transform: translate(15px, 0);
  -webkit-transform: translate(15px, 0);
  background:$black;
}

//NAV WITH LINKS
nav {     
  display:none;
  @include transition;
  .content {
    width:60%;
    margin:0 auto;
    padding-top:18%;
    display:flex;
    &__close {
      position:absolute;
      top:100px;
      right:45px;
      font-size:40px;
      line-height:15px;
      font-weight:bold;
      color:white;
      cursor:pointer;
      text-align:center;
      span {
        font-size:12px;        
      }      
    }
    &__menu, &__text {
      width:50%;   
      h1 {
        color:white;
        line-height:30px;
        margin:0;
        margin-bottom:25px;
      }   
    }
    &__text {
      color:white;
      line-height:30px;
      margin:0;
      margin-bottom:25px;
      a {color:white;}
    }
  }

  ul {    
    width:100%;
    height:100%;
    max-height:100%;
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align:left;
    list-style:none;
    li {      
      a {
        display:block;
        width:100%;        
        padding:10px 0;
        transition-duration:.6s;
        font-size:18px; 
        color:white; 
        text-transform:uppercase;
        text-decoration:none;
        @include transition;
        &:hover {
          padding-left:15px;
          cursor:pointer;  
          color:white;
        }        
      }           
    }
  }
}
//NAV OPENED
.open {
  position:fixed;
  margin-top:-100px;
  width:100%;
  height:110%;
  visibility: visible; 
  opacity:1;
  background:$blue;
  display:block;
  z-index:990;  
}
  
//WORKS LAZY LOAD
.image {
	background: rgba(0,0,0,0.15);
  min-height:500px;
  position: relative;
  z-index:3;
	
	&::before {
		animation-name: rotate;
		animation-duration: 0.6s;
		animation-iteration-count: infinite;
    background: rgba(#000,0.25);
    width:100%;
    height:100%;
		content: '';
		display: block;
		height: 40px;
		left: calc(50% - 20px);
		position: absolute;
		top: calc(50% - 20px);
		width: 40px;
		z-index: 1;
	}

	img {
    width:100%;
    height:100%;
		opacity: 0;
    transition: opacity 0.25s;
    z-index:3;
    position:absolute;

		&.fade-in {
			padding-bottom: 0;
			opacity: 1;
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	70%,
	100% {
		transform: rotate(90deg);
	}
}

//WORKS
.works {
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  padding-top:100px;

  &__box {
    width:50%;
    height:500px;
    background:$light;
    position:relative;
    @include transition;
    &:nth-child(even){
      background:$light;
      margin-top:-50px;
    }  
    &:nth-child(odd){
      background:$light;
    } 

    &__content, &__items {
      width:100%;
      height:100%;
      position:absolute;
      color:$black;   
      @include transition;      
    }
    &__items {       
      padding:40px;
      z-index:98;
      span, b, a, p {
        position:absolute;
        text-transform:uppercase;  
        @include transition;   
      }
      span, b {
        font-size:12px;        
        top:40px;
      }
      b {
        right:40px;
      }      
      a {
        bottom:40px;
        right:80px;       
        font-size:40px;
        opacity:0;
        color:$gold;
        @include transition;
      }
      p {
        bottom:40px;
        font-size:18px;
        line-height:0;
        font-weight:bold;  
        &:before {
          content:'';
          display:block;
          width:40%;
          height:2px;
          background:$blue;
          margin-bottom:30px;
          @include transition;
        }     
      }
    }          
    &:hover {
      opacity:1;
      background: rgba(0,0,0,.25);     
      z-index:980;
      .image:before {
        display:none;
      }
      span, b, a, p {
        color:white;
      }
      a {
        opacity:1;
        right:40px;
        color:$gold;
      }
      p:before {
        background:$gold;
        margin-left:-50px;
      }
     
    }
  }
}

//CSS TYPEWRITER ON HOME
.var-highlight{
  color: $blue;
  font-weight:bold;
}
.string-highlight{
  color:#111;
}
#typewriter{
  font-size: 1em;
  line-height:25px;
  margin: 0;
  font-family:$textfont;
  position:absolute;
  z-index:1;
  top:15%;
  left:55%;
  &:after{
    content: "|";
    animation: blink 500ms linear infinite alternate;
  }
}
@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}