@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

//CORES
$blue: #0052cc;
$light: #F5F5F5;
$gray: #6F6F6F;
$black: #181818;

//FONTES
$textfont: 'Ubuntu', sans-serif;
$titlefont: 'Ubuntu', sans-serif;

$margin: 8%;

@import "cursor";
@import "proton";

//BODY E HTML
html,
body {
    &,
    * {
		cursor: none;      
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box; 
		text-decoration:none; 
    }
}

html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;   
	font-weight:400;
	scroll-behavior: smooth;
}

//TÍTULOS
h1,h2,h3,h4,h5,h6 {
	font-weight:400;
	font-family: $titlefont;
}

//TEXTOS
p,b,span,i,a {
	font-family:$textfont;
}

body {
	color:$black;
	font-weight:400;
	font-family: $textfont;
	font-size:.9em;
}

@mixin transition {
	transition:.5s;
}

//EFEITO SHINE
@mixin shine {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 10%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
}

@-webkit-keyframes shine {
	from {
		-webkit-mask-position: 150%;
	}	
	to {
		-webkit-mask-position: -50%;
	}
}

a {
	text-decoration:none; 
	@include transition;
	&:hover {
		color:$blue;
		@include shine;
	}
} 

p {
	line-height:35px;
	font-size:1.2em;
}

.text-center {
	text-align:center;
}

//CONTAINER
.container {
	display:block;
	width:calc(100% - 16%);	
	margin:20px auto !important;
}

//HEADER IN MENU OPENED
.whiter {
	.logo, .hamburguer {
		@include transition;		
	}
	.hamburguer {
		.bar1, .bar2 {
			background-color:$blue;
		}
	}
}

//HOME HEADER
header {
	width:100%;
	height:100%;
	margin:0px;  
	padding:1px;
	position:relative; 
	background:$black;
	color:white;	
	
	.container {       
		padding-top:15%;
		max-width:600px;
		margin:0;
		h1 {
			font-size:50px; 
			color:white;
		}    
		span {
			display:block;      
		}
		a {
			color:$blue;
			&:before {
				content:'';
				display:inline-block;
				width:70px;
				height:2px;
				background:$blue;
				margin:3px;
				margin-right:25px;
			}
		}
	}
	
	.scroll {
		position:absolute;
		bottom:40px;
		left:$margin;
		font-size:40px;
		@include transition;
		-webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
		animation: mymove 3s infinite;
		&:hover {
			transform: translate(0, 20px);
			cursor:pointer;
		}
		a, a span {
			color:$blue;
			&:hover {
				color:$blue;
			}
		}
	}
}

@keyframes mymove {
	from {bottom: 50px;}
	to {bottom: 20px;}
}
	
//HAMBURGUER MENU
.hamburguer {
	position:fixed;		
	top:60px;
	right:$margin;
	z-index:9999; 	
	outline:none;
	border:0;          
	&:hover {
		cursor:pointer;
		.bar1 {
			transform: translate(5px, 0);
			-webkit-transform: translate(5px, 0);
		}
		.bar2 {
			transform: translate(15px, 0);
			-webkit-transform: translate(15px, 0);
		}
	}	
	.bar1, .bar2 {
		width: 44px;
		height: 2px;
		background-color: $blue;
		margin: 5px 0;
		transition-duration: 0.4s;
	}  
}

.toggle .bar1 {
	transform: translate(5px, 0);
	-webkit-transform: translate(5px, 0);    
	background:$blue;
}
.toggle .bar2 {
	transform: translate(15px, 0);
	-webkit-transform: translate(15px, 0);
	background:$blue;
}
	
//NAV WITH LINKS
nav {     
	display:none;
	@include transition;
	.content {
		width:60%;
		margin:0 auto;
		padding-top:18%;
		display:flex;
		&__close {
			position:absolute;
			top:100px;
			right:45px;
			font-size:40px;
			line-height:15px;
			font-weight:bold;
			color:white;
			cursor:pointer;
			text-align:center;
			span {
				font-size:12px;        
			}      
		}
		&__menu, &__text {
			width:50%;   
			h1 {
				color:white;
				line-height:30px;
				margin:0;
				margin-bottom:25px;
			}   
		}
		&__text {
			color:white;
			line-height:30px;
			margin:0;
			margin-bottom:25px;
			a {color:white;}
		}
	}
	
	ul {    
		width:100%;
		height:100%;
		max-height:100%;
		margin:0;
		padding:0;
		box-sizing:border-box;
		text-align:left;
		list-style:none;
		li {      
			a {
				display:block;
				width:100%;        
				padding:10px 0;
				transition-duration:.6s;
				font-size:18px; 
				color:white; 
				text-transform:uppercase;
				text-decoration:none;
				@include transition;
				&:hover {
					padding-left:15px;
					cursor:pointer;  
					color:white;
				}        
			}           
		}
	}
}

//NAV OPENED
.open {
	position:fixed;
	width:100%;
	height:100%;
	visibility: visible; 
	opacity:1;
	background:$black;
	display:block;
	z-index:990;  
}
	
//SOBRE
.sobre {
	display:flex;
	flex-wrap:wrap;
	
	&__title {
		width:30%;
	}
	
	&__content {
		width:70%;
	}
	
}

//RECENTS WORKS
.recent-works {
	display:flex;
	justify-content:space-between; 
	&__header {
		width:100%;
		height:60px;
		clear:both;
		display:flex;
		justify-content:space-between;
		.title {
			width:50%;
			color:$black;
			font-size:2em;
			text-align:left;
		}
		.more {
			width:50%;
			text-align:right;
			a {
				color:$blue;
				&:before {
					content:'';
					display:inline-block;
					width:70px;
					height:2px;
					background:$blue;
					margin:3px;
					margin-right:25px;
				}
			}
		}
	}
	&__item {
		width:calc(33.3333% - 20px);
		min-height:400px;
		max-height:400px;
		background:$black;
		color:$gray;
		position:relative;
		overflow:hidden;
		@include transition;
		&:hover {
			background:rgba(0,82,204,.8);
			&__content {
				b {
					color:$black;
				}
			}
		}
		img {
			position:absolute;
			width:100%;
			height:100%;			
		}
		.js-lazy-image {
			opacity:.1 !important;
		}
		&__content {
			position:absolute;
			left:40px;
			bottom:40px;
			z-index:30;
			b {
				color:$gray;
				display:block;
				padding-bottom:5px;
				@include transition;
			}      
			span {
				color:white;
				font-weight:bold;
				font-size:1.8em;
				font-weight:400;
			}
		}    
	}
}

	
//WORKS LAZY LOAD
.image {
	background: rgba(0,0,0,0.15);
	min-height:500px;
	position: relative;
	z-index:3;
	
	&::before {
		animation-name: rotate;
		animation-duration: 0.6s;
		animation-iteration-count: infinite;
		background: rgba(#333,0.0); //REMOVER A OPACITY PARA MOSTRAR O LOADER
		width:100%;
		height:100%;
		content: '';
		display: block;
		height: 40px;
		left: calc(50% - 20px);
		position: absolute;
		top: calc(50% - 20px);
		width: 40px;
		z-index: 1;
	}
	
	img {
		width:100%;
		height:100%;
		opacity: 0;
		transition: opacity 0.25s;
		z-index:3;
		position:absolute;
		
		&.fade-in {
			padding-bottom: 0;
			opacity: 1;
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	70%,
	100% {
		transform: rotate(90deg);
	}
}
	
	//WORKS
	// .works {
		//   display:flex;
		//   justify-content:center;
		//   flex-wrap: wrap;
		//   padding-top:100px;
		
		//   &__box {
			//     width:50%;
			//     height:500px;
			//     background:$light;
			//     position:relative;
			//     @include transition;
			//     &:nth-child(even){
				//       background:$light;
				//       margin-top:-50px;
				//     }  
				//     &:nth-child(odd){
					//       background:$light;
					//     } 
					
					//     &__content, &__items {
						//       width:100%;
						//       height:100%;
						//       position:absolute;
						//       color:$black;   
						//       @include transition;      
						//     }
						//     &__items {       
							//       padding:40px;
							//       z-index:98;
							//       span, b, a, p {
								//         position:absolute;
								//         text-transform:uppercase;  
								//         @include transition;   
								//       }
								//       span, b {
									//         font-size:12px;        
									//         top:40px;
									//       }
									//       b {
										//         right:40px;
										//       }      
										//       a {
											//         bottom:40px;
											//         right:80px;       
											//         font-size:40px;
											//         opacity:0;
											//         color:yellow;
											//         @include transition;
											//       }
											//       p {
												//         bottom:40px;
												//         font-size:18px;
												//         line-height:0;
												//         font-weight:bold;  
												//         &:before {
													//           content:'';
													//           display:block;
													//           width:30%;
													//           height:2px;
													//           background:$blue;
													//           margin-bottom:30px;
													//           @include transition;
													//         }     
													//       }
													//     }          
													//     &:hover {
														//       opacity:1;
														//       background:$blue;      
														//       z-index:980;
														//       .image:before {
															//         display:none;
															//       }
															//       span, b, a, p {
																//         color:white;
																//       }
																//       a {
																	//         opacity:1;
																	//         right:40px;
																	//         color:yellow;
																	//       }
																	//       p:before {
																		//         background:yellow;
																		//         margin-left:-50px;
																		//       }
																		//       img {
																			//         display:none;        
																			//       }
																			//     }
																			//   }
																			// }
																			
																			